/**
 * Syntax highlighting styles
 */
/**
table
{
	font-size: 15px;
	border-collapse:collapse;
	margin: 20px auto 20px auto;
	padding:0;
}

table tr
{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0;
}

table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}
table tr th, table tr td
{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px;
}
*/

table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6em;
  border-collapse: collapse;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  display: block;
  /*overflow-x:scroll;*/
  /*white-space: pre;*/
  overflow-x: auto;
  word-wrap: normal;
}

table th {
	font-weight: bold;
	padding: 2px 4px;
}

tr:hover {
  background-color: #f3f3f3; /* just like highlight */
}

table td {
	padding: 2px 4px;
}

table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}

table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}