
table {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 13px;
  line-height: 1.6em;
  border-collapse: collapse;
  margin-right: auto;
  overflow-x: auto;
  width: 80%;
}

table th {
  font-weight: bold;
  padding: 2px 8px;
  background-color: #e6e6e6;
}

tr:hover {
  background-color: #f3f3f3; /* just like highlight */
}

table td {
  padding: 7px 4px;
}

table tr:nth-child(2n)
{
  background-color:#f3f3f3;
}

table tr th, table tr td
{
  text-align:center;
}

table img
{
  text-align:center;
}
